# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and temporary files
*.log
*.tmp
Untitled*
*study*
test*
*test.

# Ignore folders
data*/

# Ignore Python environment
__pycache__/


# Ignore node_modules (if applicable)
node_modules/

# Ignore VS Code settings
.vscode/